# Project structure
.gradle/
.idea/
build/
local.properties
*.iml
.DS_Store

# Android
*.apk
*.jks
*.keystore
captures/
.externalNativeBuild
.cxx/

# IDE
.vscode/
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
Thumbs.db
.env
.env.local
